flask
flask_cors
dotenv
gunicorn
langchain
python-dotenv
ipykernel
langchain_community
pypdf
bs4
arxiv
pymupdf
wikipedia
langchain-text-splitters
langchain-openai
chromadb
langchain-ollama
langchain-groq
faiss-cpu
chromadb
pypdf
